 <%= form_with model: @request, local: true do |form| %>




 <p>
     Request Type
     <%= form.select(:request_type, [['Food Support'], ['Babysitting  Service']]) %>
 </p>

 <p>
     Description:
     <%= form.text_area :request_description %>
 </p>

 <% if current_user.role == "admin"%>
 <p>
     Request Type
     <%= form.select(:request_status, [['New'], ['In-Progress'], ['Completed']]) %>
 </p>
 <%end%>



 <%= form.submit %>
 <% end %>