<div class="container">
    <div class="row">
        <div class="col">
            <%# 1 of 3 %>
        </div>
        <div class="col-6">
            <%# 2 of 3 (wider) %>
            <%# content  %>

            <h2 class="text-center text-monospace"> Request of <%= @user.name %></h2>

            <%# Add a table for the request  %>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>

                <tbody>


                    <% @requests.each do |request|%>

                    <tr>
                        <td>
                            <%= link_to request.request_type , request %>
                        </td>
                        <td>
                            <%=  @user.name  %>
                        </td>
                        <td>
                            <%=  request.request_status  %>
                        </td>


                        <td>
                            <%= button_to "Delete", {:controller => :requests,
                 :action => 'destroy', :id => request.id }, :method => :delete %>
                        </td>

                        <td>
                            <button type="button" class="btn btn-danger">Danger</button>
                        </td>
                    </tr>

                    <% end %>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="col">
            <%# 3 of 3 %>
        </div>
    </div>

</div>