<div style="text-align:center;">
    <h2> Request of <%= @user.name %></h2>

    <%# Add a table for the request  %>
    <table border=" 1px solid black;">
        <tr>
            <th>Type</th>
            <th>Created By</th>
            <th>Status</th>
        </tr>

        <% @requests.each do |request|%>

        <tr>
            <td>
                <%= link_to request.request_type , request %>
            </td>
            <td>
                <%=  @user.name  %>
            </td>
            <td>
                <%=  request.request_status  %>
            </td>


            <td>
                <%= button_to "Delete", {:controller => :requests,
                 :action => 'destroy', :id => request.id }, :method => :delete %>
            </td>

        </tr>

        <% end %>
    </table>
</div>