<h1> Show all requests <h1>
        <ul>
            <li><%= @request.first_name%> <%= @request.last_name%></li>
            <li><%= @request.street%></li>
            <li><%= @request.city%></li>
            <li><%= @request.zip_code%></li>
            <li><%= @request.phone%></li>

        </ul>