<!DOCTYPE html>
<html>

<head>

    <title>SalvationRequest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <%= render 'layouts/nav' %>
    <header>

        <ul>


            <% if user_signed_in? %>
            <p>
                Welcome <%= link_to current_user.email, edit_user_registration_path ,method: :get %>
            </p>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, method: :get %></li>
            <% end %>


        </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
</body>

</html>